apiVersion: v2
version: 0.1.31
name: home-assistant
description: Open source home automation that puts local control and privacy first.
type: application
appVersion: "2025.12"
kubeVersion: ">=1.16.0-0"
icon: https://home-assistant.io/images/favicon-192x192-full.png
home: https://github.com/lmatfy/charts/tree/master/charts/home-assistant
keywords:
  - home-assistant
  - home-automation
  - smart-home
sources:
  - https://github.com/home-assistant/core
maintainers:
  - name: Alexander Bachmann
    email: a.t.bachmann@gmail.com
dependencies:
  - name: common
    repository: https://library-charts.k8s-at-home.com
    version: 4.5.2
  - name: postgresql
    version: 16.0.1
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: mariadb
    version: 19.0.7
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
  - name: influxdb
    version: 6.3.21
    repository: https://charts.bitnami.com/bitnami
    condition: influxdb.enabled
